@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #f4f4f5;
}
.text-primary{
    color: #018fd7;
}
.bg-primary{
    background-color: #018fd7;
}
.btn-primary {
  @apply text-white font-bold py-3 px-8 rounded text-sm;
  background-color: #018fd7;
}
.el-form-item__label{
    color: black;
    font-size: 0.9rem;
}
.el-input__wrapper, .el-textarea__inner {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1px 11px;
    background-color: #f4f4f5;
    background-image: none;
    border-radius: 4px;
    cursor: text;
    transform: translateZ(0);
    box-shadow: 0 0 0 1px #f4f4f5 inset;
    padding: 0.5rem 1rem;
}